html {
  border: 0;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-size: 16px;
  margin-left: 10%;
  margin-right: 10%;
}

header#primary {
  position: relative;
  height: 170px;
}

div.avatar {
  position: absolute;
  top: 50px;
  left: 30%;
}

div.avatar > img {
  border-radius: 100%;
  height: 65px;
}

div.name {
  position: relative;
  height: 70px;
  width: 210px;
  top: 50px;
  left: 38%;
  word-wrap: break-word;
  display: inline-block;
}

/* only for middle screen */
@media only screen and (max-width: 1400px) {
  div.name {
    left: 45%;
  }
}

div.name > span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

div.name > p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #838383;
  margin: 0px;
  top: 70%;
}

/* only for small screen */
@media only screen and (max-width: 500px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }

  div.avatar {
    left: 10%;
  }

  div.name {
    left: 45%;
    top: 55px;
    display: inline-block;
  }

  div.name > span {
    font-size: 30px;
  }

  div.name > p {
    top: 50%;
  }
}

@media only screen and (max-width: 800px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }
  div.name {
    left: 45%;
  }
}

div#main {
  position: relative;
  width: 100%;
}

div.brief {
  display: block;
  width: 28%;
  float: left;
}

div.details {
  position: absolute;
  width: auto;
  left: 30%;
}

@media only screen and (max-width: 500px) {
  div#main {
    display: flex;
    flex-wrap: wrap;
  }

  div.brief {
    width: auto;
  }

  div.details {
    position: unset;
    width: auto;
    left: 10%;
  }
}

section.parts {
  margin-bottom: 50px;
  padding-left: 5px;
  padding-right: 5px;
}

.information {
  display: block;
}

section > header {
  text-transform: capitalize;
  font-family: 'Fjalla One', sans-serif;
  color: #b4a38d;
  font-size: 30px;
}

section .info-item {
  padding: 0 0 5px 0;
  color: #a3a3a3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-word;
}

section > div > span {
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000;
  font-weight: bold;
}

section > div > p {
  margin-top: 0px;
}

section > p {
  word-wrap: break-word;
}

section .title {
  color: #b4a38d;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  text-transform: capitalize;
}

section .content {
  color: #a3a3a3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

section .secondary {
  color: #3b3b3b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

section .tertiary {
  color: #3b3b3b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 0px;
}

section#education section {
  position: relative;
  /* width: 400px; */
}

section#education img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

section#education header.secondary {
  position: absolute;
  top: 0;
  left: 50px;
  line-height: 30px;
  margin-left: 15px;
}

section#education section > p {
  color: #a3a3a3;
  position: absolute;
  left: 65px;
  top: 30px;
  flex-flow: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-inline-start: 15px;
}

.skill-item {
  text-transform: capitalize;
  color: #3b3b3b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.skill-title {
  display: inline-block;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: #000 solid 1px;
  background-color: #000;
  display: inline-block;
}

.empty-dot {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  border: #000 solid 1px;
  background-color: #fff;
  display: inline-block;
}
